
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(img/drogamleczna.jpg);
    position: relative;
   
    
    
}
.top{
    position: relative;
   
    background-image: url(img/landscape-5055384_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    min-height: 100vh;
    overflow: hidden;
    background-attachment: fixed;
  
   
}
.wrapper{
    max-width: 1420px;
    margin: 0 auto;
}
.top p{
    display: block;
    position: absolute;
    font-size: 20px;
    font-family: 'Comic Neue', cursive;
    color: #a8dadc;
    text-shadow: 1px 1px 1px black;
    top: 30%;
    left: 0;
    padding: 10px;
    transform: translateY(-50%);
    opacity: 0.9;
    
    width: 100%;
    text-align: center;
}


.top i{
    font-size: 30px;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    animation: arrow 1s 6s linear infinite;
    opacity: 0;
    cursor: pointer;
    color: #14213d;
}
@keyframes arrow{
    0%{
    bottom: 2%;
    opacity: 0;
    }
    4% {
        opacity: 0;
    }

    13% {
        opacity: 1;
    }

    87% {
        opacity: 1;
    }

    92% {
        opacity: 0;
    }
    100%{
    bottom: 0%;
    opacity: 0;
    }
}
.menu {
    display: none;
    height: 30px;
    background-color:rgb(58,80,107);
    border-bottom: 2px solid rgb(58,80,107);
    z-index: 4;
}
nav.active{
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    animation: menuappears 2s ;
}
@keyframes menuappears{
    0%{
        left: -100%;
    }
    100%{
        left: 0%;
    }
}
.menu ul{
    list-style: none;
}
.menu ul li{
    float: left;
    width: 33.333%;
   
    text-align: center;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
.menu ul li a{
    font-size: 13px;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    display: block;
    cursor: pointer;
    width: 100%;
    line-height: 30px;
    color: white;
    text-decoration-line: none;
    text-transform: uppercase;
}
.schools{
    height: 100vh;
    position: relative;
    background-color:rgba(28,37,65,0.7);
}


div.highschool{
    width: 100%;
    height: 50%;
    position: absolute;
    top:0;
    left: 0;
    padding: 20px;
    background-image:url(img/highschool.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

div.studies{
    width: 100%;
    height: 50%;
    position: absolute;
    top:50% ;
    left: 0;
    padding: 20px;
    
    background-image:url(img/uniwersytet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
div.studies .tlo2{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
div.highschool .tlo{
    
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    
}
.tlo .budynek{
    width: 150px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 15px #3a506b;
    
}
.tlo2 .budynek{
    
    height: 100px;
    position: absolute;
    top: 20%;
    left: 50%;
    background-color: rgba(0,0,0,0.5);
    transform: translateX(-50%);
    box-shadow: 0 0 15px #3a506b;
    
}
.tlo2 p{
    position: absolute;
    bottom: 20px;
    font-size: 14px;
    color: black;
    width: calc(100% - 40px);
    
    
    font-family: 'Comic Neue', cursive;
    text-align: justify;
    
    box-shadow: 0 0 5px white;
   
    background-color: rgba(255,255,255,0.4);
    
}
.tlo p{
    position: absolute;
    bottom: 20px;
    font-size: 15px;
    color: black;
    font-family: 'Comic Neue', cursive;
    width: calc(100% - 40px);
    text-align: justify;
    margin-right: 5px;
    box-shadow: 0 0 3px white;
    background-color: rgba(255,255,255,0.5);
    
}
i.fa-graduation-cap{
    color: rgb(58,80,107);
    animation: cap 20s infinite linear;
    left: 0;
    bottom: 0;
    position: absolute;
}
i.fa-user-graduate{
    color: rgb(58,80,107);
    animation: studies 20s infinite linear;
    right:  0;
    top: 0;
    position: absolute;
}
@keyframes cap{
    0%{
    left: 0%;
    bottom: 0;
    opacity: 0;
    }
    4% {
        opacity: 0;
    }

    13% {
        opacity: 1;
    }

    87% {
        opacity: 1;
    }

    92% {
        opacity: 0;
    }
    100%{
    left: 100%;
    bottom: 0;
    opacity: 0;
    }
}
@keyframes studies{
    0%{
    right: 0%;
    top: 0;
    opacity: 0;
    }
    4% {
        opacity: 0;
    }

    13% {
        opacity: 1;
    }

    87% {
        opacity: 1;
    }

    92% {
        opacity: 0;
    }
    100%{
    right: 0%;
    top: 100%;
    opacity: 0;
    }
}
section.skills{
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-image: url(img/skill2.jpg); */
    
    
}
div.tlo3{
    height: 100%;
    position: relative;
    width: 100%;
     background-color: rgba(0,0,0, 0.7);
}
.tlo3 .fab{
    position: absolute;
    top: 21%;
    left: 50%;
    font-size: 80px;
    color: #007300;
    transform: translateX(-50%);
    border: 2px solid transparent;
    background-color: #88d498;
    border-radius: 50%;
    padding: 15px;
    box-shadow:  0 0 10px white;
}
.tlo3 .fa-arrow-right{
    position: absolute;
    top: 30%;
    right: 5%;
    color: #b8f2e6;
    font-size: 70px;
    
}
.tlo3 .fa-arrow-left{
    position: absolute;
    top: 30%;
    left: 5%;
    color: #b8f2e6;
    font-size: 70px;
}
.tlo3 p.opis{
    position: absolute;
    text-align: center;
    left: 15%;
    color: #d9dbbc;
    right: 15%;
    top: calc(33% + 120px);
}

.efektopis{
    animation: opisefekt 2s;
}
    @keyframes opisefekt{
        0%{
            transform: scale(1.2);
            }
            
            100%{
                transform: scale(1);
            }
}
.tlo3 p.tytul{
    position: absolute;
    left: 50%;
    letter-spacing: 10px;
    top: 5%;
    font-size: 20px;
    transform:translateX(-50%);
    color: #b8f2e6;
  text-shadow: 2px 2px 2px #007300;
}
.tlo3 p.umiejetnosc{
    position: absolute;
    left: 50%;
    letter-spacing: 7px;
    top: calc(23% + 120px);
    overflow: hidden;
    font-size: 30px;
    transform:translateX(-50%);
    color: #b8f2e6;
    text-shadow: 2px 2px 2px #7d8597;
    
}
.tlo3 div.kropki{
    position: absolute;
    width: 30%;
    left: 50%;
    transform: translateX(-50%);
    top: 12%;
    
    height: 3%;
    display: flex;
    justify-content: space-around;
}

.tlo3 div.kropki div.kropka{
    margin: 2px;
    border: 2px solid #d9dbbc;
    height: 80%;
    flex-basis: 11%;
    border-radius: 50%;
}
.dodawanietla{
    background-color: #d9dbbc;
}
.odejmowanietla{
    background-color: transparent;
}
.efekt{
animation: zwieksz 2s;
}
@keyframes zwieksz{
    0%{
        transform: translateX(-50%) scale(0.8);
        }
        
        100%{
            transform: translateX(-50%) scale(1);
        }
}
.tlo3 p.numer{
    position: absolute;
    text-align: center;
    left: 50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transform: translateX(-50%);
    top: 12%;
}
/* .tlo3 .fa-html5{
    color: black;
} */
 .active{
    animation:iconsappear 1s ;
}



@keyframes iconsappear{
    0%{
    opacity: 0;
    }
    50%{
        opacity: 0;
    }
    51%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
.tlo4{
    height: 100vh;
   
}
.projects{
    height: 150vh;
    position: relative;
    background-color: rgba(0,0,0, 0.7);
}
div.first{
    position: relative;
    height: 50%;
    width: 100%;
}
div.first a{
    display: none;
    position: absolute;
    left: 53%;
    
}

div.first img{
    position: absolute;
    display: block;
    height: 50vh;
   
    padding:10px 0;
    
    
}
p.first{
    position: absolute;
    left: 5%;
    width: 40%;
    color: white;
    top: 50%;
    transform: translateY(-50%);
}
div.first a:nth-of-type(1){
    display: block;
    position: absolute;
    
    left: 53%;
}





div.three{
    position: relative;
    height: 50%;
    width: 100%;
}
div.three a{
    display: none;
    right: 8%;
}

div.three img.wlasciwe{
    margin: 0 auto;
    display: block;
    height: 50vh;
    width: 100%;
    padding:10px 0;
    filter: blur(1px);
    
}
p.three{
    position: absolute;
    left: 5%;
    width: 40%;
    color: white;
    top: 50%;
    transform: translateY(-50%);
}
div.three a:nth-of-type(1){
    display: block;
    position: absolute;
    
    height: 100%;
    left: 53%;
    pointer-events: none;
}
div.three img.focus{
    position: absolute;
    z-index: 2;
   left: 50%;
   transform: translateX(-50%);
   top: 50px;
    opacity: 1;
    pointer-events: all;
    height: 60px;
}

div.three img.git{
    position: absolute;
    z-index: 2;
   left: 50%;
   
   transform: translateX(-50%);
   pointer-events: all;
   top: 160px;
    opacity: 1;
    height: 60px;
}



div.second{
    position: relative;
    height: 50%;
    width: 100%;
}
div.second a{
    display: none;
    right: 8%;
}

div.second img.wlasciwe{
    margin: 0 auto;
    display: block;
    height: 50vh;
    width: 100%;
    padding:10px 0;
    filter: blur(1px);
    
}
p.second{
    position: absolute;
    left: 5%;
    width: 40%;
    color: white;
    top: 50%;
    transform: translateY(-50%);
}
div.second a:nth-of-type(1){
    display: block;
    position: absolute;
    
    height: 100%;
    left: 53%;
    pointer-events: none;
}
div.second img.focus{
    position: absolute;
    z-index: 2;
   left: 50%;
   transform: translateX(-50%);
   top: 50px;
    opacity: 1;
    pointer-events: all;
    height: 60px;
}

div.second img.git{
    position: absolute;
    z-index: 2;
   left: 50%;
   
   transform: translateX(-50%);
   pointer-events: all;
   top: 160px;
    opacity: 1;
    height: 60px;
}


div.first{
    position: relative;
    height: 50%;
    width: 100%;
}
div.first a{
    display: none;
    right: 8%;
}

div.first img.wlasciwe{
    margin: 0 auto;
    display: block;
    height: 50vh;
    width: 100%;
    padding:10px 0;
    filter: blur(1px);
    
}
p.first{
    position: absolute;
    left: 5%;
    width: 40%;
    color: white;
    top: 50%;
    transform: translateY(-50%);
}
div.first a:nth-of-type(1){
    display: block;
    position: absolute;
    
    height: 100%;
    left: 53%;
    pointer-events: none;
}
div.first img.focus{
    position: absolute;
    z-index: 2;
   left: 50%;
   transform: translateX(-50%);
   top: 50px;
    opacity: 1;
    pointer-events: all;
    height: 80px;
}

div.first img.git{
    position: absolute;
    z-index: 2;
   left: 50%;
   
   transform: translateX(-50%);
   pointer-events: all;
   top: 160px;
    opacity: 1;
    height: 80px;
}
div.rest{
    position: relative;
    height: 12vh;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
}
div.logogita{
    background-color: #fca311;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    animation: swiecenie 6s infinite linear alternate-reverse;
}
div.rest img{
    
    padding: 10px;
    height: 60px;
    
}
@keyframes swiecenie{
    0%{
        transform: translate(-50%,-50%) scale(0.7) ;
        box-shadow: 0 0 10px #fca311;
    }
    100%{
        transform: translate(-50%,-50%) scale(1) ;
        box-shadow: 0 0 50px #fca311;
    }
}
footer{
    height: 4vh;
    width: 100vw;
    background-color: black;
}
footer p{
    color: white;
    text-align: center;
    line-height: 4vh;
}
section.contact{
    
}


@media  only screen and (min-device-width: 768px) 
{
    .form-container {
      padding: 5%;
      background: #ffffff;
      border: 9px solid #f2f2f2;            
      max-width: 520px;
      margin: auto;
    }

}

.contact h1, p 
{
  text-align: center;
  color: #2ec4b6;
}
.contact label{
    color: #2ec4b6;
    width: 100%;
    text-align: center;
}

.contact input, textarea , button
{
  width: 100%;
  background-color: #ddd;
}    
.contact textarea
{
  height: 100px;
  background-color: #ddd;
}
.container{
    background-color: rgba(0,0,0,0.7);
}
.button-primary{
    text-align: center;
    width: 90%;
    margin: 2% 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    border: 2px solid black;
    border-radius: 5%;
    padding: 8px;
    border: none;
}






















