# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\stronki\Portfolio_Wojciech_Golda\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
